doctype
html(lang='es')
    head
        meta(charset='utf-8')
        title Cifrado RSA
        link(rel="stylesheet", href="css/styles.css", attr)
    body
        header
            h1 Cifrado RSA
        form(action="#" method="method" onsubmit="submitted(event, this)")
            
            .input-field.multiple
                .input-subfield
                    label(for="p") p
                    input(type="number" name="p" id="p" required="true" placeholder="421")
                .input-subfield.margin-lr
                    label(for="q") q
                    input(type="number" name="q" id="q" required="true" placeholder="7")
                .input-subfield
                    label(for="d") d
                    input(type="number" name="d" id="d" required="true" placeholder="1619")
            .input-field
                label(for="message") Mensaje
                input(type="text" placeholder="Inserta tu mensaje" name="message" id="message" required="true")
            .input-field.inline
                input(type="radio" name="encrypt" id="encrypt" checked required)
                label(for="encrypt") Cifrar
                input(type="radio" name="encrypt" id="decrypt")
                label(for="decrypt") Descifrar
            .submit
                input(type="submit" value="Operar")
        //script( src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js")
        script(src="js/main.js")
