doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title encriptación RSA
    body
        h1 Encriptación RSA
        script( src="http://peterolson.github.com/BigInteger.js/BigInteger.min.js")
        script(src="js/main.js")
